# To update these lines, execute 
# `bazel run @rules_bazel_integration_test//tools:update_deleted_packages`
build --deleted_packages=examples/bzlmod,examples/bzlmod/Sources/MyExecutable,examples/bzlmod/Sources/MyLibrary,examples/bzlmod/Sources/System,examples/bzlmod/Tests/MyLibraryTests,examples/grpc_example,examples/grpc_example/aaa_test,examples/grpc_example/compilers,examples/grpc_example/protos/echo_service,examples/grpc_example/protos/echo_service/requests,examples/grpc_example/protos/echo_service/responses,examples/grpc_example/sources/client,examples/grpc_example/sources/server,examples/grpc_example/sources/test,examples/grpc_package_example,examples/grpc_package_example/aaa_test,examples/grpc_package_example/compilers,examples/grpc_package_example/protos/echo_service,examples/grpc_package_example/sources/client,examples/grpc_package_example/sources/server,examples/grpc_package_example/sources/test,examples/simple,examples/simple/Sources/MyExecutable,examples/simple/Sources/MyLibrary,examples/simple/Tests/MyLibraryTests
query --deleted_packages=examples/bzlmod,examples/bzlmod/Sources/MyExecutable,examples/bzlmod/Sources/MyLibrary,examples/bzlmod/Sources/System,examples/bzlmod/Tests/MyLibraryTests,examples/grpc_example,examples/grpc_example/aaa_test,examples/grpc_example/compilers,examples/grpc_example/protos/echo_service,examples/grpc_example/protos/echo_service/requests,examples/grpc_example/protos/echo_service/responses,examples/grpc_example/sources/client,examples/grpc_example/sources/server,examples/grpc_example/sources/test,examples/grpc_package_example,examples/grpc_package_example/aaa_test,examples/grpc_package_example/compilers,examples/grpc_package_example/protos/echo_service,examples/grpc_package_example/sources/client,examples/grpc_package_example/sources/server,examples/grpc_package_example/sources/test,examples/simple,examples/simple/Sources/MyExecutable,examples/simple/Sources/MyLibrary,examples/simple/Tests/MyLibraryTests

# Import Shared settings
import %workspace%/.bazelrc.shared

# Import CI settings.
import %workspace%/.bazelrc.ci

# Try to import a local.rc file; typically, written by CI
try-import %workspace%/.bazelrc.local
